body {
	background: #BAC1C2;
	color: #000000;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	margin: 0;
}
header,footer {
	background: #094364;
	color: #FFFFFF;
}
header {
	text-align: center;
	padding-top: 60px;
}
footer {
	text-align: center;
}
h3 {
	margin:0;
}
nav {
	text-align:center;
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}
.profile-img {
	width: 570px;
	height: 425px;
	border-radius: 50%;
}
.degree {
	font-style:italic;
}
.content-wrap {
	max-width: 1800px;
	margin: 0 auto;
	padding: 30px 20px;
	overflow: auto;
}
a {
		color: #E9291C;
}
a:hover {
	text-decoration: none;
}
h3 ~ p {
	margin:0;
}
